<?xml version="1.0" encoding="utf-8" ?>
<thrift.hosts defaultHost="default">
    <host name="default" port="20188" minThreadPoolSize="10" maxThreadPoolSize="100" clientTimeout="0" useBufferedSockets="false">
        <service contract="Thrift.Demo.Shared.AddressRpc, Thrift.Demo.Shared" handler="Thrift.Demo.Hosting.AddressRpcImpl, Thrift.Demo.Hosting" />
        <service contract="Banana.RPC.SmsSendShortMessageRpc, Thrift.Demo.Shared" handler="Thrift.Demo.Hosting.SmsSendShortMessageRpcImpl, Thrift.Demo.Hosting" />
    </host>
    <host name="test" port="22221" minThreadPoolSize="10" maxThreadPoolSize="100" clientTimeout="0" useBufferedSockets="false">
        <service contract="Thrift.Demo.Shared.AddressRpc, Thrift.Demo.Shared" handler="Thrift.Demo.Hosting.AddressRpcImpl, Thrift.Demo.Hosting" />
        <service contract="Banana.RPC.SmsSendShortMessageRpc, Thrift.Demo.Shared" handler="Thrift.Demo.Hosting.SmsSendShortMessageRpcImpl, Thrift.Demo.Hosting" />
    </host>
</thrift.hosts>