@{
    ViewBag.Title = "Hello World";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="rui-table">
    <tbody>
        @*<tr ng-controller="MyController">
            <th>当前时间</th>
            <td>{{clock}}</td>
        </tr>*@
        <tr>
            <th>用户名称</th>
            <td><input ng-model="Name" type="text" placeholder="请输入您的名字" /></td>
        </tr>
        <tr>
            <th>邮箱地址</th>
            <td><input ng-model="user.Email" type="text" placeholder="请输入您的邮箱地址" /></td>
        </tr>
    </tbody>
</table>
<h1>
    你好，{{Name}}<br />
    邮箱地址：{{user.Email}}
</h1>
@*<script src="../../Scripts/app/homeController.js" type="text/javascript"></script>*@
