@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="/Home/HelloWorld" target="_blank">Hello AngularJS</a>
            </li>
            <li>
                <a href="/Home/Scope" target="_blank">Learn Scope</a>
            </li>
            <li>
                <a href="/Home/Expression" target="_blank">Learn Expression</a>
            </li>
        </ul>
    </div>
</body>
</html>
