@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="Home/HelloWorld">Hello AngularJS</a>
            </li>
        </ul>
    </div>
</body>
</html>
