<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="thrift.clients" type="Thrift.Configuration.ClientSection, Thrift.Common"/>
    </configSections>
    <thrift.clients configSource="thrift.clients.config" />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
