<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="PubEndpointAddress" value="net.tcp://192.168.1.179:12345/Pub"/>
        <add key="SubEndpointAddress" value="net.tcp://192.168.1.179:12345/Sub"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
